<mat-card>
  <mat-card-header>
    <mat-card-title>{{ isEdicao ? 'Editar Funcionário' : 'Cadastrar Funcionário' }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="funcionarioForm" (ngSubmit)="salvarFuncionario()">
        <!-- Campo funcionarioId (não editável) -->
        <mat-form-field appearance="fill" *ngIf="isEdicao">
          <mat-label>ID do Funcionário</mat-label>
          <input matInput formControlName="funcionarioId" readonly>
        </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome" required>
        <mat-error *ngIf="funcionarioForm.get('nome')?.hasError('required')">
          Nome é obrigatório.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Sobrenome</mat-label>
        <input matInput formControlName="sobrenome" required>
        <mat-error *ngIf="funcionarioForm.get('sobrenome')?.hasError('required')">
          Sobrenome é obrigatório.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
        <mat-error *ngIf="funcionarioForm.get('email')?.hasError('required')">
          Email é obrigatório.
        </mat-error>
        <mat-error *ngIf="funcionarioForm.get('email')?.hasError('email')">
          Email inválido.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Documento</mat-label>
        <input matInput formControlName="documento" required>
        <mat-error *ngIf="funcionarioForm.get('documento')?.hasError('required')">
          Documento é obrigatório.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Data de Nascimento</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dataNascimento" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="funcionarioForm.get('dataNascimento')?.hasError('required')">
          Data de Nascimento é obrigatória.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Identificador Cargo</mat-label>
        <input matInput formControlName="cargoId" required>
        <mat-error *ngIf="funcionarioForm.get('cargoId')?.hasError('required')">
          Cargo é obrigatório.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Identificador Gestor</mat-label>
        <input matInput formControlName="gestorId">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input matInput formControlName="senhaHash" type="password" required>
        <mat-error *ngIf="funcionarioForm.get('senhaHash')?.hasError('required')">
          Senha é obrigatória.
        </mat-error>
      </mat-form-field>
      <!-- Seção de telefones -->
      <div formArrayName="telefones">
        <div *ngFor="let telefone of telefones.controls; let i = index" [formGroupName]="i">
          <mat-form-field appearance="fill">
            <mat-label>Número do Telefone</mat-label>
            <input matInput formControlName="numero" required>
            <mat-error *ngIf="telefone.get('numero')?.hasError('required')">
              Número é obrigatório.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Tipo do Telefone</mat-label>
            <mat-select formControlName="tipo" required>
              <mat-option value="Celular">Celular</mat-option>
              <mat-option value="Residencia">Residencial</mat-option>
              <mat-option value="Trabalho">Trabalho</mat-option>
              <mat-option value="Recado">Recado</mat-option>
              <mat-option value="Outro">Outros</mat-option>
            </mat-select>
            <mat-error *ngIf="telefone.get('tipo')?.hasError('required')">
              Tipo é obrigatório.
            </mat-error>
          </mat-form-field>

          <button mat-icon-button color="warn" (click)="removerTelefone(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>

      <!-- Botão para adicionar novo telefone -->
      <button mat-button type="button" (click)="adicionarTelefone()">
        <mat-icon>add</mat-icon> Adicionar Telefone
      </button>

      <button mat-raised-button color="primary" type="submit">Salvar</button>
      <button mat-raised-button color="warn" type="button" (click)="voltar()">Voltar</button>
    </form>
  </mat-card-content>
</mat-card>
